.loader-wrapper {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;          

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background: rgba(0,0,0,0.4);
backdrop-filter: blur(6px);
  z-index: 9999;
}


.logo-beat {
  width: 120px;
  margin-bottom: 25px;
  animation: logoBeat 1.2s infinite ease-in-out;
  filter: drop-shadow(0 0 6px rgba(34,197,94,0.4));
}

@keyframes logoBeat {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.1); }
  40%  { transform: scale(0.95); }
  60%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}


.ecg-container {
  width: 220px;
  height: 60px;
  position: relative;
  overflow: hidden;
}


.ecg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.ecg1 .ecg-path {
  stroke: #22c55e;
  stroke-width: 3;
  animation: ecgDraw 1.5s linear infinite;
}


.ecg2 .ecg-path {
  stroke: #22c55e;
  stroke-width: 2;
  opacity: 0.5;
  animation: ecgDraw 1.5s linear infinite;
  animation-delay: 0.3s;
}


.ecg3 .ecg-path {
  stroke: #22c55e;
  stroke-width: 4;
  opacity: 0.2;
  filter: blur(3px);
  animation: ecgDraw 1.5s linear infinite;
  animation-delay: 0.6s;
}


.ecg-path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}


@keyframes ecgDraw {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}